body{
    height: 800px;
    background-image: url("image/eaufond.jfif")
    }
    h1{
        color: rgb(0, 116, 21);
        border: 10px groove rgb(46, 2, 2);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h2{
        color: rgb(255, 255, 255);
        font-family: 'Courier New', Courier, monospace;
    }
    h3{
        color: rgb(98, 113, 7);
        font-family: 'Courier New', Courier, monospace;
    }
    h4{
        color: rgb(72, 179, 75);
        font-family: 'Courier New', Courier, monospace;
    }
    table{
        color: rgb(234, 255, 0);
        font-family: 'Courier New', Courier, monospace;
    }
    a:link {
    color: #ccc;
      }
    a:visited {
    color: #042a3e;
      }
    a:hover {
    color: #064c72;
   } 
    a:active {
    color: #800000;
    }